@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@media screen and (max-width:1440px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    header{
        font-family: 'RALEWAY' sans-serif;
        
    }
    h1, h2{
        color: hsl(243, 87%, 12%);
    }
    p{
        color: hsl(238, 22%, 44%);
    }
    nav{
        max-width: 1440px;
        min-width: 1440px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 4rem;
    }
    ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 2.5rem;
        justify-content: space-between;
    }
    body{
        font-size: 16px;
    }
    main{
        font-family: 'OPENSAN' sans-serif;
    }
    .fi{
        text-align: start;
    }
    .fi h1{
        font-weight: 600;
        max-width: 32rem;
        padding-bottom: 1.2rem;
    }
    .fi p{
        max-width: 23.5rem;
        padding-bottom: 1.2rem;
    }
    .fr{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-left: -1rem;
        padding-bottom: 5rem;
    }
    .fr input{
        width: 250px;
        height: 35px;
        border: 1px solid red;
    }
    .fr button{
        width: 200px;
        background-color: hsl(224, 93%, 58%);
        border: none;
    }
    .child img{
        width: 500px;
    }
    .first{
        padding: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10rem;
    }
    .son{
        text-align: start;
        position: relative;
        z-index: 2;
        text-align: start;
        margin: 0 auto;
    }
    .son h2{
        font-weight: 700;
        max-width: 22rem;
        padding-bottom: 1.2rem;
    }
    .son p{
        max-width: 34rem;
        padding-bottom: 1.2rem;
    }
    .dau a{
        color: hsl(170, 45%, 43%);
        text-decoration: underline;
    }
    .dau p{
        padding-bottom: 2rem;
    }
    .dau a:hover{
        color: hsl(170, 45%, 43%);
    }
    .con{
        background-color: white;
        max-width: 300px;
        padding: 1rem;
    }
    .con p{
        max-width: 18rem;
    }
    .con img{
        width: 20px;
    }
    .hry img{
        width: 40px;
        border-radius: 30px;
    }
    .hry{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 1rem;
        gap: 1rem;
    }
    .we p{
        font-size: 10px;
    }
    .we h3{
        font-size: 15px;
    }
    .last img{
        width: 500px;
    }
    .second {
        position: relative;
        background-color: hsl(240, 75%, 98%);
        max-width: 1440px;
        min-width: 1440px;
        display: flex;
        flex-direction: row;
        padding: 4rem;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10rem;
    }
    .second::before {
        content: '';
        position: absolute;
        top: -70px;
        left: 0;
        width: 100%;
        height: 100px;
        background-image: url('images/bg-curve-desktop.svg');
        background-size: cover;
        background-position: center;
        z-index: 1;
    }
    .thir{
        text-align: start;
    }
    .thir h2{

        font-weight: 700;
        max-width: 20rem;
        padding-bottom: 1.2rem;
        color: white;
    }
    .thir p{
        max-width: 28rem;
        padding-bottom: 1.2rem;
        color: white;
    }
    .third{
        max-width: 1440px;
        min-width: 1440px;
        background-color: hsl(238, 22%, 44%);
        color: white;
        padding: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .thi{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .thi input{
        width: 280px;
        height: 35px;
        border: 1px solid red;
    }
    .thi button{
        width: 200px;
        height: 35px;
        background-color: hsl(224, 93%, 58%);
        border: none;
    }
    footer{
        padding: 4rem;
        max-width: 1440px;
        min-width: 1440px;
        background-color: hsl(243, 87%, 12%);
        color: white;
        display: flex;
        flex-direction: column;
    }
    .end p{
    color: white;
    }
    .fourth{
        display: flex;
        align-items: start;
        flex-direction: row;
        justify-content: space-between;
    }
    .img{
        width: 150px;
        padding-bottom: 2rem;
        color: white;
    }
    .a, .b{
        display: flex;
        gap: 1rem;
    }
    .ea, .ba, .c{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    a{
        text-decoration: none;
    }
    a:hover{
        color: white;
    }

}
@media screen and (max-width:520px){
    nav{
        padding-top: 4rem;
        justify-content: space-between;
        max-width: 520px;
        min-width: 520px;
    }
    ul{
        gap: 0.5rem;
    }
    .fi{ 
        text-align: center;
    }
    .fi h1{
        font-weight: 600;
        max-width: 29rem;
        padding-top: 4rem;
    }
    .fi p{
        max-width: 22rem;
        padding-bottom: 3rem;
        margin: auto;
    }
    .fr{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding-bottom: 16em;  
    }
    .fr input{
        width: 350px;
        height: 50px;
    }
    .fr button{
        width: 300px;
        height: 50px;
    }
    .child img{
        width: 400px;
    }
    .first{
        max-width: 520px;
        min-width: 520px;
        padding: 1rem;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .son{
        text-align: center;
        position: relative;
        z-index: 2;
        text-align: center;
        margin: 0 auto;
    }
    .son h2{
        font-weight: 600;
        max-width: 22rem;
        padding-bottom: 2rem;
        margin: auto;
    }
    .son p{
        max-width: 24.4rem;
        padding-bottom: 2rem;
        text-align: start;
    }
    .dau a{
        color: hsl(170, 45%, 43%);
        text-decoration: underline;
    }
    .dau p{
        padding-bottom: 2rem;
        text-align: center;
    }
    .dau a:hover{
        color: hsl(170, 45%, 43%);
    }
    .con{
        background-color: white;
        max-width: 300px;
        margin: auto;
        align-items: center;
    }
    .con p{
        max-width: 18rem;
    }
    .con img{
        width: 20px;
    }
    .hry img{
        width: 40px;
        border-radius: 30px;
    }
    .hry{
        flex-direction: row;
        align-items: center;
        padding-top: 2rem;
        gap: 1rem;
    }
    .we p{
        font-size: 10px;
    }
    .we h3{
        font-size: 15px;
    }
    .last img{
        width: 400px;
        padding-bottom: 8rem;
    }
    .second {
        max-width: 520px;
        min-width: 520px;
        flex-direction: column-reverse;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 16rem;
    }
    .second::before {
        background-image: url('images/bg-curve-mobile.svg');
    }
    .thir{
        text-align: start;
    }
    .thir h2{
        max-width: 15rem;
        text-align: center;
        margin: auto;
    }
    .thir p{
        max-width: 17rem;
        padding-bottom: 2rem;
        color: white;
        text-align: center;
        margin: auto;
    }
    .third{
        max-width: 520px;
        min-width: 520px;
        padding-bottom: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .thi{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }
    .thi input{
        width: 350px;
        height: 50px;
    }
    .thi button{
        width: 300px;
        height: 50px;
    }
    footer{
        padding-bottom: 8rem;
        min-width: 520px;
        max-width: 520px;
    }
    .end p{
    color: white;
    }
    .fourth{
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: start;
        gap: 4rem;
    }
    .img{
        display: flex;
        justify-content: center;
        align-items: start;
        padding-bottom: 4rem;
        color: white;
        width: 200px;
    }
    .a, .b{
        display: flex;
        gap: 2rem;
    }
    .ea, .ba, .c{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .d{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

}